<ion-view title="测试" id="page5">
  <ion-content padding="true" class="has-header">
    <h1 id="page5-heading2" style="color:#12F6C9;text-align:center;" class="title">酷暑夏日</h1>
    <div id="page5-markdown2" class="show-list-numbers-and-dots aaa">
      <p style="color:#000000;font-size:20px;">1、激流勇进</p>
    </div>
    <div id="page5-button-bar1" class="button-bar">
      <a ui-sref="page3()" id="page5-button4" style="font-size:14px;" class="button button-positive button-block">1</a>
      <button id="page5-button5" class="button button-positive button-block">2</button>
      <button id="page5-button6" class="button button-positive button-block">3</button>
    </div>
    <button id="page5-button7" style="color:#8B498B;" class="button button-positive button-block">Tap me!</button>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="page5-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="page5-slide24" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page5-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page5-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="page5-form2" class="list">
      <ion-toggle toggle-class="toggle-positive" id="page5-toggle1">Toggle</ion-toggle>
      <ion-item class="item-thumbnail-left" id="page5-list-item9">
        <h2>Item</h2>
      </ion-item>
      <label class="item item-input" id="page5-textarea1">
        <span class="input-label">Text</span><textarea placeholder=""></textarea></label>
    </form>
  </ion-content>
</ion-view>